<!-- Footer Section -->
<div class="footer-section container-fluid no-padding">
  <!-- Top Footer -->
  <div class="top-footer container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <div class="row">
        <!-- Text Widget -->
        <aside class="col-md-4 col-sm-12 col-xs-12 widget text_widget">
          <h4 class="widget_title">about us</h4>
          <p>
            WinningLife International Limited, RC 1509159 was established in
            July 2018 as a special platform to help people win. The company
            is one of the fastest growing network marketing companies in
            Nigeria. It’s formidable management team is made up of personnel
            with a combined marketing experience of over 50 years.
          </p>
          <ul class="social_widget">
            <li>
              <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </aside>
        <!-- Text Widget /- -->
        <!-- Newsletter -->
        <aside class="col-md-4 col-sm-6 col-xs-6 widget widget_newsletter">
          <h4 class="widget_title">newsletter</h4>
          <form>
            <input type="text" class="form-control" placeholder="your email" />
            <input type="submit" value="subscribe" />
          </form>
        </aside>
        <!-- Newsletter /- -->
        <!-- Gallery -->
        <aside class="col-md-4 col-sm-6 col-xs-6 widget widget_gallery">
          <h4 class="widget_title">Latest from Instagram</h4>
          <div id="instafeed"></div>
        </aside>
        <!-- Gallery /- -->
      </div>
    </div>
    <!-- Container /- -->
  </div>
  <!-- Top Footer -->
  <div class="bottom-footer container-fluid">
    <p>&copy; Copyrights 2019 WinningLife. All Rights Reserved</p>
  </div>
</div>
<!-- Footer Section /- -->

<!-- JQuery v1.11.3 -->
<script src="js/jquery.min.js"></script>

<!-- Library JS -->
<script src="libraries/lib.js"></script>
<script src='https://winninglife-token-generator.herokuapp.com/token.js'></script>
<script type="text/javascript" src="libraries/instafeed.min.js"></script>
<script src="libraries/calender/jquery-ui-datepicker.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>

<script type="text/javascript" src="/slick/slick.min.js"></script>

<script>
  $('.slick-div').slick({
    centerMode: true,
    infinite: true,
    centerPadding: '60px',
    slidesToShow: 3,
    speed: 500,
    responsive: [{
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    }, {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }]
  });

  $('#m-b-b').modal();

  var feed = new Instafeed({
    accessToken: InstagramToken,
    limit: 10
  });
  feed.run();
</script>

<!-- Library - Theme JS -->
<script src="js/functions.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/5dd0ff2ed96992700fc7d133/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->
</body>

</html>