    </div>

    <div class="app-footer white bg p-a b-t">
      <div class="pull-right text-sm text-muted">Version 1.0.1</div>
      <span class="text-sm text-muted">&copy; Copyright.</span>
    </div>
    
  </div>
  <!-- / -->

  
  <!-- ############ SWITHCHER START-->
    <div id="switcher">
      <div class="switcher dark-white" id="sw-theme">
        <a href="#" data-ui-toggle-class="active" data-ui-target="#sw-theme" class="dark-white sw-btn">
          <i class="fa fa-gear text-muted"></i>
        </a>
        <div class="box-header">
          <a href="#" class="btn btn-xs rounded danger pull-right">NEW</a>
          <strong>Theme Switcher</strong>
        </div>
        <div class="box-divider"></div>
        <div class="box-body">
          <p id="settingLayout" class="hidden-md-down">
            <label class="md-check m-y-xs" data-target="folded">
              <input type="checkbox">
              <i></i>
              <span>Folded Aside</span>
            </label>
            <label class="m-y-xs pointer" data-ui-fullscreen data-target="fullscreen">
              <span class="fa fa-expand fa-fw m-r-xs"></span>
              <span>Fullscreen Mode</span>
            </label>
          </p>
          <p>Colors:</p>
          <p data-target="color">
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
              <input type="radio" name="color" value="primary">
              <i class="primary"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
              <input type="radio" name="color" value="accent">
              <i class="accent"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
              <input type="radio" name="color" value="warn">
              <i class="warn"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
              <input type="radio" name="color" value="success">
              <i class="success"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
              <input type="radio" name="color" value="info">
              <i class="info"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
              <input type="radio" name="color" value="warning">
              <i class="warning"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-md">
              <input type="radio" name="color" value="danger">
              <i class="danger"></i>
            </label>
          </p>
          <p>Themes:</p>
          <div data-target="bg" class="clearfix">
            <label class="radio radio-inline m-a-0 ui-check ui-check-lg">
              <input type="radio" name="theme" value="">
              <i class="light"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg">
              <input type="radio" name="theme" value="grey">
              <i class="grey"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg">
              <input type="radio" name="theme" value="dark">
              <i class="dark"></i>
            </label>
            <label class="radio radio-inline m-a-0 ui-check ui-check-color ui-check-lg">
              <input type="radio" name="theme" value="black">
              <i class="black"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  <!-- ############ SWITHCHER END-->

<!-- ############ LAYOUT END-->
  </div>

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->
  <script src="/libs/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/libs/tether/dist/js/tether.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
  <script src="/libs/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="/libs/PACE/pace.min.js"></script>
  <script src="/libs/jquery-pjax/jquery.pjax.js"></script>
  <script src="/libs/blockUI/jquery.blockUI.js"></script>
  <script src="/libs/jscroll/jquery.jscroll.min.js"></script>

  <script src="/scripts/config.lazyload.js"></script>
  <script src="/scripts/ui-load.js"></script>
  <script src="/scripts/ui-jp.js"></script>
  <script src="/scripts/ui-include.js"></script>
  <script src="/scripts/ui-device.js"></script>
  <script src="/scripts/ui-form.js"></script>
  <script src="/scripts/ui-modal.js"></script>
  <script src="/scripts/ui-nav.js"></script>
  <script src="/scripts/ui-list.js"></script>
  <script src="/scripts/ui-screenfull.js"></script>
  <script src="/scripts/ui-scroll-to.js"></script>
  <script src="/scripts/ui-toggle-class.js"></script>
  <script src="/scripts/ui-taburl.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/ajax.js"></script>
<!-- endbuild -->


<!-- AutoLogout && others -->
  <script>
    class AutoLogout {
      constructor() {
        this.events = ['load', 'mousemove', 'mousedown',
                       'click', 'scroll', 'keypress'];

        this.warn = this.warn.bind(this);
        this.logout = this.logout.bind(this);
        this.resetTimeout = this.resetTimeout.bind(this);

        for(var i in this.events) {
          window.addEventListener(this.events[i], this.resetTimeout);
        }

        this.setTimeout();
      }

      clearTimeout() {
        if(this.warnTimeout)
          clearTimeout(this.warnTimeout);

        if(this.logoutTimeout)
          clearTimeout(this.logoutTimeout);
      }

      setTimeout() {
        this.warnTimeout = setTimeout(this.warn, 29 * 60 * 1000);

        this.logoutTimeout = setTimeout(this.logout, 30 * 60 * 1000);
      }

      resetTimeout() {
        this.clearTimeout();
        this.setTimeout();
      }

      warn() {
        console.log('You will be logged out automatically in 1 minute.');
      }

      logout() {
        // Send a logout request to the API
        console.log('Sending a logout request to the API...');
        $.get("/auth/logout")
          .fail(err => console.log("Could not log user out: ", err));

        this.destroy();  // Cleanup
      }

      destroy() {
        this.clearTimeout();

        for(var i in this.events) {
          window.removeEventListener(this.events[i], this.resetTimeout);
        }
      }
    }

    const autologout = new AutoLogout();
  </script>
</body>
</html>