<% include ./partials/headerFront %>
<div class="navbar-collapse collapse" id="navbar">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="/" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
    </li>
    <li>
      <a href="#about" title="About Us">about Us</a>
    </li>
    <%# <li>
                      <a href="#compensation" title="Compensation Plan"
                        >Compensation Plan</a
                      >
                    </li> %>
    <li>
      <a href="/gallery" title="Gallery">Gallery</a>
    </li>
    <li>
      <a href="/news" title="News">News</a>
    </li>
    <li class="active">
      <a href="#" title="Incentives">Incentives</a>
    </li>
    <li>
      <a href="/contact" title="Contact">Contact us</a>
    </li>
    <li>
      <a href="/auth/login" title="Sign In">Sign in</a>
    </li>
  </ul>
</div>
</nav>
</div>
<div class="col-md-2 book-now">
  <a href="/auth/register" title="Join Us Now">Join Us Now</a>
</div>
</div>
<!-- Row /- -->

<!-- Container /- -->
</div>
<!-- Menu Block /- -->
</header>
<!-- Header Section /- -->


<main class="site-main page-spacing">
  <div class="incentives">
    <header>
      <h1>INCENTIVES</h1>
    </header>
    <div class="content">
      <div class="content__intro">
        <h2>BEYOND ALL LIMITS</h2>
        <p>Are you ready to see where WinningLife can take you? We believe in recognizing commitment, leadership,
          hardwork and success, which is why we offer such an exciting portfolio of incentives for our WinningLife
          Business Owners.</p>
        <p>Earn Global Travel, Networking Opportunities, the means of a new Car, a plot of land, scholarship for two of
          your children, recognition for your hard work and more through one of the most robust and rewarding
          compensation plans and earn more fantastic rewards.</p>
      </div>
      <div>
        <div>
          <h4>Global Rally</h4>
          <p>Have you ever dreamed of luxury travel to beautiful destinations all over the world? Then you don't want to
            miss this.</p>
          <a href="/rally">
            <span>&#9658;</span>
            <span>Discover</span>
          </a>
        </div>
        <div>
          <img src="images/travel.png" alt="">
        </div>
      </div>
      <div>
        <div>
          <h4>Luxury Car</h4>
          <p>Qualify to earn a car worth &#8358;4,500,000.00 at the Sapphire Level Two Stage or an SUV worth
            &#8358;15,000,000.00 when you complete Emerald Life.</p>
        </div>
        <div>
          <img src="images/car.jpg" alt="">
        </div>
      </div>
      <div>
        <div>
          <h4>Plot of Land</h4>
          <p>Qualify to get a Plot of Land in a Gated Estate for your personal housing or commercial need when you
            complete
            Emerald Life</p>
        </div>
        <div>
          <img src="images/house.jpg" alt="">
        </div>
      </div>
      <div>
        <div>
          <h4>Scholarship</h4>
          <p>Get an Educational Scholarship of up to &#8358;1,000,000.00 each for two of your children for four (4)
            years.
          </p>
        </div>
        <div>
          <img src="images/scholarship.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</main>

<% include ./partials/footerFront %>