<% include ./partials/headerFront %>
<div class="navbar-collapse collapse" id="navbar">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="/" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
    </li>
    <li>
      <a href="#about" title="About Us">about Us</a>
    </li>
    <%# <li>
                      <a href="#compensation" title="Compensation Plan"
                        >Compensation Plan</a
                      >
                    </li> %>
    <li>
      <a href="/gallery" title="Gallery">Gallery</a>
    </li>
    <li>
      <a href="#" title="News">News</a>
    </li>
    <li class="active">
      <a href="/incentives" title="Incentives">Incentives</a>
    </li>
    <li>
      <a href="/contact" title="Contact">Contact</a>
    </li>
    <li>
      <a href="/auth/login" title="Sign In">Sign in</a>
    </li>
  </ul>
</div>
</nav>
</div>
<div class="col-md-2 book-now">
  <a href="/auth/register" title="Join Us Now">Join Us Now</a>
</div>
</div>
<!-- Row /- -->
</div>
<!-- Container /- -->
</div>
<!-- Menu Block /- -->
</header>
<!-- Header Section /- -->


<main class="site-main page-spacing">
  <div class="rally">
    <header>
      <h1>SINGAPORE <br> 2019</h1>
    </header>
    <div class="content">
      <div class="content__intro">
        <div class="content__description">
          <h2>BUILDING THE LIFE YOU DESERVE</h2>
          <p>Have you ever dreamed of luxury travel to beautiful destinations all over the world? Then you don't want to
            miss this.</p>
          <p>WinningLife's Travel Incentive brings together top WBO's to discover new products, attend impactful
            trainings, be inspired by empowering stories, witness huge recognitions, enjoy amazing entertainment and
            more. There's a reason we say it's like nothing you've ever seen.</p>
        </div>
        <div class="content__video">

        </div>
      </div>
      <div class="content__features">
        <div class="content__feature">
          <div>
            <img src="images/airplane-shape.svg" alt="">
          </div>
          <div>
            <h4>Travel</h4>
            <p>Attend Global Rally and the Champions Conference held each year in an exciting destination around the
              world. Enjoy luxury accomodations, delicious meals and more.</p>
          </div>
        </div>
        <div class="content__feature">
          <div>
            <img src="images/notes.svg" alt="">
          </div>
          <div>
            <h4>Money</h4>
            <p>Travel qualifiers will receive spending money up to %1,500 to enjoy at the event or when they return
              home.</p>
          </div>
        </div>
        <div class="content__feature">
          <div>
            <img src="images/cup.svg" alt="">
          </div>
          <div>
            <h4>Recognition</h4>
            <p>Travel qualifiers are recognized for their accomplishments at our annual leaders retreat each year.</p>
          </div>
        </div>
      </div>
      <div class="qualify">
        <h2>HOW TO QUALIFY</h2>
        <p>Qualification:</p>
        <p>WinningLife Champions Conference: June 15th 2019 - October 15th 2019</p>
        <p>Global Rally: October 28th 2019 - April 30th 2020</p>
        <div class="ranks">
          <div>
            <h5>DIAMOND LIFE LEVEL ONE</h5>
            <div>
              <p>AIR, MEALS AND HOTEL</p>
              <p>ACTIVITY DAY</p>
              <p>SPENDING MONEY</p>
            </div>
          </div>
          <div>
            <h5>DIAMOND LIFE LEVEL TWO</h5>
            <div>
              <p>AIR, MEALS AND HOTEL</p>
              <p>ACTIVITY DAY</p>
              <p>SPENDING MONEY</p>
            </div>
          </div>
          <div>
            <h5>SAPPHIRE LIFE LEVEL ONE</h5>
            <div>
              <p>AIR, MEALS AND HOTEL</p>
              <p>ACTIVITY DAY</p>
              <p>SPENDING MONEY</p>
            </div>
          </div>
        </div>
      </div>
      <p class="terms">
        For a full explanation of all requirements, to qualify for incentives, please view the full marketing plan,
        attend our Monday Mega Seminars or contact a WBO
      </p>
    </div>
  </div>
</main>

<% include ./partials/footerFront %>