<% include ./partials/headerFront %>
<div class="navbar-collapse collapse" id="navbar">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="/" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
    </li>
    <li>
      <a href="#about" title="About Us">about Us</a>
    </li>
    <%# <li>
                      <a href="#compensation" title="Compensation Plan"
                        >Compensation Plan</a
                      >
                    </li> %>
    <li>
      <a href="/gallery" title="Gallery">Gallery</a>
    </li>
    <li>
      <a href="/news" title="News">News</a>
    </li>
    <li>
      <a href="/incentives" title="Incentives">Incentives</a>
    </li>
    <li>
      <a href="/contact" title="Contact">Contact us</a>
    </li>
    <li>
      <a href="/auth/login" title="Sign In">Sign in</a>
    </li>
  </ul>
</div>
</nav>
</div>
<div class="col-md-2 book-now">
  <a href="/auth/register" title="Join Us Now">Join Us Now</a>
</div>
</div>
<!-- Row /- -->
</div>
<!-- Container /- -->
</div>
<!-- Menu Block /- -->
</header>
<!-- Header Section /- -->


<main class="site-main page-spacing">
  <div class="rally">
    <header>
      <h1>TERMS AND CONDITIONS</h1>
    </header>
    <div class="terms__content">
      <div>
        <h2>1. Background</h2>
        <p>WinningLife International Limited, hereinafter referred to as the company, has made a commitment to provide
          the finest
          membership marketing experience to independent WinningLife business owners. In turn, the company expects its
          registered
          independent WinningLife Business Owners (WBO) to reflect that image in their relationship with customers,
          prospects and
          fellow WBO’s. </p>
        <p>A WinningLife Business Owner (WBO) is expected to operate the business according to the highest standards of
          integrity
          and fair practice in the role as a WBO. Additionally WBO’s should note that failure to comply with the code of
          ethics
          set out in section 2 below, can result in your termination as a WBO.</p>
        <p>This terms and conditions contain all the agreement between the company and the independent WBO.</p>
      </div>
      <div>
        <blockquote>
          BY COMPLETING THE REGISTRATION PROCESS YOU AGREE TO BE BOUND BY THESE TERMS. IF YOU DISAGREE WITH ANY PART OF
          THE TERMS,
          THEN YOU MAY NOT CONTINUE WITH THIS REGISTRATION.
        </blockquote>
      </div>
      <div>
        <h2>2. CODE OF ETHICS FOR A WINNINGLIFE BUSINESS OWNER (WBO)</h2>
        <ol>
          <li>I will conduct my business in an honest ethical manner at all times.</li>
          <li>I will make no representation about the benefits of membership with the company other than those contained
            in officially
            approved corporate literature and videos.</li>
          <li>I will motivate and actively work with fellow business owners in my team to help them build their
            WinningLife business. I understand that this support is critical to each WBO’s success.</li>
          <li>I will refrain from exaggerating my personal income or the income potential in general and will stress to
            prospective
            WBO’s, the level of effort and commitment required to succeed in the business.</li>
          <li>I will not make disparaging remarks about other products, services or companies. Likewise, I will not
            willfully
            denigrate the activities or personalities of fellow WBO’s or WinningLife staff or agents.</li>
          <li>I will not make disparaging remarks about other products, services or companies. Likewise, I will not
            willfully
            denigrate the activities or personalities of fellow WBO’s or WinningLife staff or agents.</li>
          <li>I will abide by all of the policies and procedures of WinningLife as included herein, or as may be amended
            from time to
            time.</li>
          <li>I will not abuse the goodwill of my association with WinningLife to further, or promote other business
            interests
            (particularly those which may be competitive to WinningLife).</li>
          <li>I acknowledge and agree that any debt towards WinningLife by me may be deducted from my earnings or
            commission at the
            discretion of WinningLife.</li>
          <li>I hereby confirm that all information given to the company is true to the best of my knowledge.</li>
          <li>This agreement is a binding agreement between the company and me. However, I am in no way an employee of
            the company,
            but I am an independent business owner engaged in the WinningLife business program.</li>
          <li>I acknowledge and agree that the company may at any time make changes to its terms and conditions or
            regulations without
            prior notice.</li>
          <li>I shall ensure that all marketing, online and offline shall follow the regulations of the company.</li>
          <li>I agree to market the business plan in a truthful and honest way and not to make any false claims about
            the WinningLife
            compensation plan.</li>
          <li>All my commercial activities as a WBO shall be my sole responsibility and solely at my expense. I shall by
            solely
            responsible and liable for any and all losses, claims, damages, costs, expenses, risks, taxes, or other
            statutory
            liabilities envisaged for the specific activity performed by me, and I agree to indemnify WinningLife from
            any liability
            arising from such activities.</li>
          <li>In case of my breach of any of the codes of conduct of Winninglife, the company may within 7 days notice,
            suspend or
            terminate my membership as a WBO at its discretion.</li>
          <li>I understand and agree that all payments made to WinningLife upon registration and building a downline
            organization are
            not refundable.</li>
        </ol>
      </div>
      <div>
        <h2>OTHER KEY TERMS</h2>
        <h2>3.1 Policies & Compensation plan incorporated into WBO agreement</h2>
        <p>These terms and conditions, in their present form and as amended at the sole discretion of WinningLife are
          incorporated
          into, and form an integral part of the WinningLife WBO agreement.</p>
      </div>
      <div>
        <h2>3.2 Changes to the agreement</h2>
        <p>Because laws and the business environment periodically change, WinningLife reserves the right to amend the
          agreement and
          the compensation plan at its sole and absolute discretion. By completing the registration as a WBO, I agree to
          abide by
          all amendments or modifications that the company elects to make.</p>
      </div>
      <div>
        <h2>3.3 Delays</h2>
        <p>WinningLife shall not be responsible for delays or failures in performance of its obligations when
          performance is made
          commercially impracticable due to circumstances beyond its reasonable control. This includes without
          limitation strikes,
          labor difficulties, riot, war, fire, death, curtailment of a party’s source of supply, government decrees or
          orders,
          acts of God or other force majeure events.</p>
      </div>
      <div>
        <h2>3.4 Becoming a WBO</h2>
        <p>Requirements to become a WinningLife business owner.</p>
        <p>
        <ul>
          <li>Be at least 18 years of age</li>
          <li>Reside in the federal territory of Nigeria, or any market officially opened by the company</li>
          <li>have a valid identification number and</li>
          <li>Complete the WinningLife registration process online and accept the terms and conditions.</li>
        </ul>
        </p>
        <p>The consideration of any application is at the sole discretion of the company. The company reserves the right
          to reject
          any applications.</p>
      </div>
      <div>
        <h2>3.5 Change of Sponsor</h2>
        <p>To protect the integrity of all teams and safeguard the hard work of all WBO’s, the company does not allow
          changes in
          sponsorship.
          Maintaining the integrity of sponsorship is critical for the success of every distributor. Accordingly, the
          transfer of
          one WinningLife business from one sponsor to another, is not allowed.</p>
      </div>
      <div>
        <h2>3.6 Conduct at WinningLife Events
        </h2>
        <p>Selling and recruiting at WinningLife events is not permitted. These activities take away from the primary
          focus of the
          event, and can negatively reflect on the professional image of WinningLife as a company.
          You may however offer a business card and or catalog.
        </p>
      </div>
      <div>
        <h2>3.7 No selling or recruiting for other companies at WinningLife Events</h2>
        <p>WBO’s shall not sell any products or recruit for any business during WinningLife Events. This restriction
          most
          specifically applies to sales and recruitment efforts for any other direct sales or marketing program,
          regardless of the
          product category, including those that do not compete with WinningLife.
        </p>
      </div>
      <div>
        <h2>3.8 Independent Contractor Status</h2>
        <p>WBO’s are independent contractors, and are not purchasers of a franchise.</p>
        <p>The agreement between WinningLife and its WBO’s does not create an employer/employee relationship, agency, or
          partnership or joint venture between the company and the WBO.</p>
        <p>A WBO shall not be treated as an employee for his or her services or for federal or state tax purposes. All
          WBO’s are
          responsible for paying local, state and federal taxes due, from all compensation earned as WBO’s. The WBO has
          no
          authority (expressed or implied) to bind the company to any obligation. Each WBO shall establish his or her
          own goals,
          hours and methods of doing business so long as he or she complies with the terms and condition of the business
          and these
          policies and procedures and applicable laws.</p>
        <p>
        <ul>
          <li>The names of WinningLife and other names as may be adopted by WinningLife are proprietary trade names,
            trademarks and
            service marks of WinningLife. As such these marks are of great value to WinningLife and are supplied to
            WBO’s for their
            use only in an expressly authorized manner. Use of these names on any item not produced by the company is
            prohibited
            except permitted in writing.</li>
          <li>All WBO’s may list themselves as “an independent WinningLife Business Owner” in online media under their
            own name. WBO’s
            may not create websites, blogs, social media accounts, or place telephone directory display advert using
            WinningLife’s
            name or logo.</li>
          <li>WBO’s may not answer the telephone by saying “WinningLife” or “WinningLife Office” or in any other
            manner that would
            lead the caller to believe that he or she has reached the corporate offices of WinningLife or in anyway
            represent to any
            third party that they are a representative of WinningLife. WBO’s shall make a good faith effort to make
            sure the caller
            understands that the WBO is not an agent of WinningLife. WBO’s are not allowed to create social media
            accounts or web
            pages in the name of WinningLife or in any way they portray themselves as being the official WinningLife
            site. No
            website or social media account/address may contain WinningLife’s name in anyway that can mislead visitors
            that it is
            the official WinningLife site.</li>
          <li>Advertising is not limited to print media; it also includes internet advertising and other forms of
            advertising. It is
            prohibited for a WBO to use an internet or email address that utilizes the trade name WinningLife or
            includes
            WinningLife in a portion of the address. It is also prohibited for a WBO to create a website or any other
            online medium
            that references or relates to WinningLife that is not authorized in writing by WinningLife.</li>
        </ul>
        </p>
      </div>
      <div>
        <h2>4. Sale, Transfer or Assignment of a WinningLife Business</h2>
        <p>WinningLife businesses cannot be sold or transferred to another individual.</p>
      </div>
      <div>
        <h2>4.1 Death</h2>
        <p>In the event of death the WBO’s business shall be transferred to the beneficiary as contained in his or her
          will.</p>
      </div>
      <div>
        <h2>4.2 Sponsoring</h2>
        <p>All active WBO’s in good standing have the right to sponsor and enroll others into the company. Each
          prospective WBO has
          the ultimate right to choose his or her own sponsor. If two WBO’s claim to be the sponsor of the same new WBO,
          the
          company shall regard the first membership request as controlling.</p>
      </div>
      <div>
        <h2>4.3 Territory Restrictions</h2>
        <p>There are no exclusive territories granted to anyone.</p>
      </div>
      <div>
        <h2>4.4 Dispute</h2>
        <p>In the event of any dispute between WinningLife and a WBO the matter shall be referred to arbitration. The
          arbitration
          panel shall consist of any three WBO’s nominated by the company. The panel shall strive to resolve the dispute
          within 60
          days. If the matter is however not resolved satisfactorily to both parties within the period, the Courts of
          the Federal
          Republic of Nigeria may then have jurisdiction.</p>
      </div>
      <div>
        <h2>4.5 Complete Agreement</h2>
        <p>
        <ul>
          <li>This agreement, any and all modifications made by the company make up the entire agreement between the
            WBO and
            WinningLife.</li>
          <li>I confirm that I have read and understood the conditions of joining WinningLife International and will
            abide by the
            rules and regulations of the company in force from time to time.</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</main>

<% include ./partials/footerFront %>