<% include ../../partials/header %>
	<div class="padding">
		<label>Enter UserID: </label>
		<input type="text" class="loadUser">
		<button type="button" class="btn btn-sm blue loadUserbtn">Submit</button>
	</div>
	<div class="padding m-b-md">
		<div class="row">
			<div class="col-md-4">
				<p id="currentStatus" class="hide"></p>
				<div class="form-group">
				  <label>Full Name</label>
				  <input type="text" id="fullname" class="form-control">
				</div>
				<div class="form-group">
				  <label>Email</label>
				  <input type="email" id="email" class="form-control">
				</div>
				<div class="form-group">
				  <label>Phone Number</label>
				  <input type="tel" id="phone" class="form-control">
				</div>
				<div class="form-group">
				  <label>Gender</label>
				  <input type="text" id="gender" class="form-control">
				</div>
				<div class="p-y">
				  <h6 class="text-muted">Payment Details</h6>
				</div>
				<div class="form-group">
				  <label>Bank Name</label>
				  <input type="text" id="bankName" class="form-control">
				</div>
				<div class="form-group">
				  <label>Bank Account Name</label>
				  <input type="text" id="accountName" class="form-control">
				</div>
				<div class="form-group">
				  <label>Bank Account Number</label>
				  <input type="text" id="accountNumber" class="form-control">
				</div>
				<div class="p-y">
				  <h6 class="text-muted">Next of Kin</h6>
				</div>
				<div class="form-group">
				  <label>First Name</label>
				  <input type="text" id="nokfirst" class="form-control">
				</div>
				<div class="form-group">
				  <label>Last Name</label>
				  <input type="text" id="noklast" class="form-control">
				</div>
				<div class="form-group">
				  <label>Relationship</label>
				  <input type="text" id="nokrelationship" class="form-control">
				</div>
				<div class="form-group">
				  <label>Phone Number</label>
				  <input type="tel" id="nokphone" class="form-control">
				</div>
				<div class="form-group">
				  <label>Email</label>
				  <input type="email" id="nokemail" class="form-control">
				</div>
				<div class="p-y">
				  <h6 class="text-muted">Wallet</h6>
				</div>
				<div class="form-group">
				  <label>Deposit Wallet</label>
				  <input type="text" id="deposit" class="form-control">
				</div>
				<div class="form-group">
				  <label>Referral Bonus</label>
				  <input type="text" id="refBonus" class="form-control">
				</div>
				<div class="form-group">
				  <label>Cash Earnings</label>
				  <input type="text" id="cash" class="form-control">
				</div>
				<div class="form-group">
				  <label>Food Earnings</label>
				  <input type="text" id="food" class="form-control">
				</div>
				<div class="form-group">
				  <label>Car Earnings</label>
				  <input type="text" id="car" class="form-control">
				</div>
				<div class="form-group">
				  <label>SUV Earnings</label>
				  <input type="text" id="suv" class="form-control">
				</div>
				<div class="form-group">
				  <label>Scholarship Earnings</label>
				  <input type="text" id="scholarship" class="form-control">
				</div>
			</div>
		</div>
		
	</div>
<% include ../../partials/footer %>